{% extends "impl.j2" %}

{% block metainfo %}
<div class="head" role="metainfo" id="metainfo">
     <dl>
        <dt>Brondata</dt>
        <dd>
           <a href="https://github.com/Informatievlaanderen/OSLOthema-wegenvignetregistratie/releases/tag/{{ data.metadata.branchtag }}">https://github.com/Informatievlaanderen/OSLOthema-wegenvignetregistratie/releases/tag/{{ data.metadata.branchtag }}</a>
        </dd>
        <dt>Changelog</dt>
        <dd>
           <a href="{{ data.metadata.documentroot }}/resources/CHANGELOG.md">{{ data.metadata.documentroot }}/resources/CHANGELOG.md</a>
        </dd>
        <dt>Opmerkingen en feedback</dt>
        <dd>
           <a href="{{ data.metadata.feedbackurl }}">{{ data.metadata.feedbackurl }}</a>
        </dd>
        <dd>
           <a href="{{ data.metadata.standaardregisterurl }}">{{ data.metadata.standaardregisterurl }}</a>
        </dd>
        {% if data.metadata.dependencies %}
           <dt>Afhankelijkheden</dt>
           <dd>
              {% for dep in metadata.dependencies %}
                 <a href="{{ dep.packageurl }}">{{ dep.packagelabel }}</a>
              {% endfor %}
           </dd>
        {% endif %}
     </dl>
</div>
{% endblock %}

{% block summary %}
<p>
Het MAGDA-wegenvignetregistraties Implementatiemodel is gebasseerd op het <a href="" target="_blank">MAGDA-voertuigregistratie Implementatiemodel</a> dat
zich op haar beurt baseert op <a href="https://www.eucaris.net/" target="_blank">Eucaris</a>,
de Europese standaard om voertuigregistraties uit te wisselen tussen lidstaten.
</p>
<p>
Het implementatiemodel herbruikt verschillende elementen van <a href="https://schema.org/Vehicle" target="_blank">Schema.org</a>
waar alle relevante attributen over voertuigen zijn opgenomen die ook bij een registratie van een voertuig van toepassing zijn.
</p>
{% endblock %}

{% block swagger %}
<p>
Een set van herbruikbare Swagger OpenAPI componenten voor dit implementatiemodel is terug te vinden op:
<a href="{{ data.metadata.documentroot }}/resources/swagger/components.yaml" target="_blank">{{ data.metadata.documentroot }}/resources/swagger/components.yaml</a>
</p>
<p>
Deze componenten zijn gebruikt in de MAGDA OpenAPI beschrijving van de wegenvignetregistraties REST dienst, die hier terug te vinden is:
<a href="{{ data.metadata.documentroot }}/resources/swagger/MAGDA-wegenvignetregistraties-REST-Swagger.yaml" target="_blank">{{ data.metadata.documentroot }}/resources/swagger/MAGDA-REST-wegenvignetregistraties-Swagger.yaml</a>
</p>
{% endblock %}
